<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>{{user.title}}</title>
    {% else %}
    <title>Welcome to the Microblog</title>
    {% endif %}
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand"><img class="navbar__logo" src="../static/logo.svg" />Microblog</div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
        </ul>
    </header>
    {% block content %}{% endblock %}
</body>
</html>