{% extends "base.html" %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>{{user.title}}</title>
    {% else %}
    <title>Welcome to the Microblog</title>
    {% endif %}
</head> -->
<body>
    <!-- <header class="navbar">
        <div class="navbar__brand"><img class="navbar__logo" src="../static/logo.svg" />Microblog</div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
        </ul>
    </header> -->
    {% block content %}
    <main class="main">
        <section>
            <h2>Hello, {{ user.username }}</h2>
            <form method="POST" class="form">
                <p class="form__input">
                    <label for="entry" class="form__label">Entry contents:</label>
                    <textarea id="entry" name="content" class="form__textarea"></textarea>
                </p>
                <button type="submit" class="form__submit">Add entry</button>
            </form>
        </section>
        <section>
            <h1>Recent Posts</h1>
            {% for entry in entries %}
            <article>
                <div>
                    <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                    <time datetime="{{ entry[1] }}">{{ entry[2] }}</time>
                </div>
                <p>{{ entry[0] }}</p>
                <!-- <p>Author: John</p> -->
            </article>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item">Made by Tracey Wong</a>
                <a class="footer__item">Check out my other projects</a>
            </section>   
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item">Recent</a>
                    <a class="footer__item">Calender</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item">About</a>
                    <a class="footer__item">How this was made</a>
                </div>
            </section>  
        </div>
    </footer>
    {% endblock %}
</body>
</html>